@charset "UTF-8";

@font-face {
	font-family: standardFont;
	color: #333;
	src: url('../fonts/CenturyGothic.ttf');
}

body {
    background: WhiteSmoke;
    /*background-image: url('../images/escheresque_ste_white.png');*/
    margin: 0px;
    font-family: standardFont;
    font-size: 12px;
}

a { color: #222; text-decoration: none; }
a:hover { text-decoration: underline; }

.layout_divs {
    margin: 0px;
    padding: 0px;
}

#banner_wrapper {
    background: url('../images/real_cf.png'); /* #282828; */
    color: WhiteSmoke;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    position: fixed;
    margin: 0px;
    z-index: 30;
    margin: 0;
}

#banner_wrapper a { color: WhiteSmoke; }
#banner_wrapper a:hover { color: WhiteSmoke; text-decoration: none;}

#market_selector_div {
	background: url('../images/arrow_down.png') no-repeat right WhiteSmoke;
	border: 2px solid #999;
	width: 285px;
	height: 25px;
	margin: 5px;
	margin-top: 7px;
	padding: 0px;
	opacity: 0.6;
	float: left;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#market_selector_div select {
	background: transparent;
	width: 100%;
	height: 25px;
	position: relative;
	padding: 3px;
	padding-left: 8px;
	margin: 0px;
	color: #000;
	font-size: 14px;
	border: 0;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-appearance: none;
}

#banner_wrapper div#menu_stocks, div#menu_news, div#menu_mystocks, div#menu_markets {
	height: 40px;
	width: 0px;
	padding-left: 40px;
	float: left;
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
    line-height: 40px;
	transition: width 0.3s, height 0.3s, background;
	-webkit-transition: width height 0.3s; /* Safari */
}

#banner_wrapper div#menu_stocks {
	background: url('../images/icons/ic_icon_home.png') no-repeat left;
	background-size: 40px 40px;
}

#banner_wrapper div#menu_stocks:hover {
	width: 80px;
}

#banner_wrapper div#menu_news {
	background: url('../images/icons/ic_icon_news.png') no-repeat left;
	background-size: 40px 40px;
}

#banner_wrapper div#menu_news:hover {
	width: 70px;
}

#banner_wrapper div#menu_mystocks {
	background: url('../images/icons/ic_icon_mystocks.png') no-repeat left;
	background-size: 40px 40px;
}

#banner_wrapper div#menu_mystocks:hover {
	width: 120px;
}

#banner_wrapper div#menu_markets {
	background: url('../images/icons/ic_menu_drawer.png') no-repeat top left;
	background-size: 40px 40px;
}

#banner_wrapper div#menu_markets:hover {
	width: 100px;
	height: 300px;
}

#menu_markets div {
	width: 130px;
	height: 30px;
	margin-left: -40px;
	line-height: 30px;
    background: url('../images/real_cf.png');
    padding: 5px;
    text-align: middle;
}

#banner_wrapper img {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

#details_wrapper {
    top: 40px;
    left: 300px;
    height: 100%;
    width: 600;
    position: absolute;
    padding: 10px;
    float: left;
}

#details_banner {
	width: 100%;
	height: 80px;
	border-bottom: 2px solid #F1F1F1;
	font-size: 30px;
}

#details_banner span { font-size: 16px;}

#details_summary {
	width: 100%;
	height: 80px;
	z-index: 20;
	border-bottom: 2px solid #F1F1F1;
}

#details_summary table {
	table-layout: fixed;
	width: 100%;
	height: 100%;
}
#details_summary tr {width:100%;}

#details_summary td {
	height: 33%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2px;
}

#details_menu {
	width: 100%;
	height: 30px;
	background: #F0F0F0;
	text-align: center;
}

#details_menu span {
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	line-height: 30px;
	font-weight: 700;
	font-size: 22px;
}

#details_graph {
	width: 100%;
	height: 300px;
}

#stock_wrapper {
    background: none;
    top: 40px;
    left: 0px;
    height: auto;
    width: 300px;
    position: relative;
    float: left;
	font-size: 12px;
}

#market_selector {
    top: 40px;
    left: 0px;
    width: 300px;
    height: auto;
    position: fixed;
    /*border-bottom: 2px solid #999;*/
    /*line-height: 50px;*/
    z-index: 30;
    background: url('../images/real_cf.png');
}

#banner_wrapper div#search_div {
	margin: 5px;
	padding: 0px;
	width: 285px;
	height: 25px;
	border: 2px solid #999;
	background: url('../images/icons/ic_menu_search.png') no-repeat right WhiteSmoke;
	background-size: 25px 25px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	opacity: 0.6;
	float: left;
}

#banner_wrapper input#search_field {
	margin: 0px;
	padding: 0px;
	width: 285px;
	height: 25px;
	border: none;
	background: transparent;
	color: #000;
	text-align: center;
	font-size: 14px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#banner_wrapper input#search_field:hover {
	border: 0;
}

#market_selector div#filter_div {
	margin: 5px;
	padding: 4px;
	width: 277px;
	height: 30px;
	border: 2px solid #999;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: WhiteSmoke;
	opacity: 0.6;
}

#stock_list {
	width: 100%;
	height: auto;
	position: relative;
	left: 0;
	top: 0px;
    z-index: 20;
}

#stock_list table {
	table-layout: fixed;
	width: 300px;
}

#stock_list .stock_object {
	display: block;
	background: #222;
	z-index: 10;
}

#stock_list table tr.stock_object td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2px;
}

#stock_list .stock_object_odd {
	background: #282828;
}

#stock_list table tr.stock_object:hover {
	height: 64px;
	background: #333;
	border-bottom: 2px solid #444;
}

#stock_list .stock_list_name {
	color: #F5F5F5;
	height: 15px;
}

#stock_list .stock_list_headers {
	font-size: 10px;
	color: #777;
	font-weight: 600;
	height: 15px;
}

#stock_list .stock_list_data {
	color: #666;
	height: 15px;
}

#stock_list a.stock_list_star {
	border: 0;
	padding: 0;
	margin: 0;
	width: 14px;
	height: 14px;
	position: relative;
	left: -2px;
	top: 0px;
	float: left;
	background: url('../images/star_small.png') no-repeat right transparent;
	/*background-size: 14px 14px;*/
	z-index: 100;
}

#myStocks_wrapper {
	display: none;
    background: none;
    top: 40px;
    left: 0px;
    height: auto;
    width: 300px;
    position: relative;
    float: left;
	font-size: 12px;
}

#myStocks_list table {
	table-layout: fixed;
	width: 300px;
}

#myStocks_list .myStocks_object {
	display: block;
	background: #222;
	z-index: 10;
}

#myStocks_list table tr.myStocks_object td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2px;
}

#myStocks_list .myStocks_object_odd {
	background: #282828;
}

#myStocks_list table tr.myStocks_object:hover {
	height: 64px;
	background: #333;
	border-bottom: 2px solid #444;
}

#myStocks_list .myStocks_list_name {
	color: #F5F5F5;
	height: 15px;
}

#myStocks_list .myStocks_list_headers {
	font-size: 10px;
	color: #777;
	font-weight: 600;
	height: 15px;
}

#myStocks_list .myStocks_list_data {
	color: #666;
	height: 15px;
}

#myStocks_list a.myStocks_list_trash {
	border: 0;
	padding: 0;
	margin: 0;
	width: 14px;
	height: 14px;
	position: relative;
	left: -2px;
	top: 0px;
	float: left;
	background: url('../images/trash_small.png') no-repeat right transparent;
	/*background-size: 14px 14px;*/
	z-index: 100;
}

#rss_wrapper {
	display: none;
    background: none;
    top: 40px;
    left: 0px;
    height: auto;
    width: 300px;
    position: relative;
    float: left;
	font-size: 12px;
}

#alert_wrapper {
	width: 300px;
	height: auto;
	position: fixed;
	top: 10px;
	right: -300px;
	margin: 0px;
	background: #999;
	border: 2px solid #999;
	z-index: 100;
}

#alert_dialog {
	height: 100%;
	font-size: 12px;
	padding: 10px;
}