﻿@charset "UTF-8";
/*
 * Example of zRSSFeed Styling (Optional)
 *
 * Version: 1.2.0
 * (c) Copyright 2011-2013, Zazar Ltd
 *
 */


.rssFeed {
	width: 100%;
	left: 0px;
	font-family: "Century Gothic";
	font-size: 80%;
	color: #999;
}
.rssFeed a {
	color: #CCC; /*titel*/
	text-decoration: none;
}
.rssFeed a:hover {
	color:#CCC; 
	text-decoration: underline;
}

.rssHeader { padding: 0.2em 0; }

.rssBody {  }
.rssBody ul { list-style: none; }
.rssBody ul, .rssRow, .rssRow h4, .rssRow p {
	margin: 0;
	padding: 0;
}

.rssRow { padding: 0.8em; }
.rssRow h4 { font-size: 1.1em; }
.rssRow div {
	font-size: 90%;
	color: #6e7573; /*datum*/
	margin: 0.2em 0 0.4em 0;
}

.odd { background-color: #222; } 
.even { background-color: #282828; } 
.rssRow .rssMedia {
	padding: 0.5em;
	font-size: 1em;
}
